<div class="jumbotron animated fadeIn fast">
    <h1 class="display-4">Acerca de Comic App</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quae ipsam voluptatem enim doloremque eum rerum nihil dolore eius quam ullam, sequi, est ea ipsum velit unde. A, quam ut?.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea dolores incidunt placeat saepe commodi sequi, voluptate provident! Placeat, odio deleniti modi sed nesciunt delectus eveniet est facilis mollitia dignissimos officia?.
    </p>
    <a class="btn btn-primary btn-lg" role="button">Learn more</a>
  </div>